# Laravel & PHP
/vendor
/node_modules
/public/storage
/storage/*.key
/.phpunit.result.cache
/.phpunit.cache
.env
.env.backup
.env.production
.phpactor.json
Homestead.json
Homestead.yaml
auth.json

# Laravel build files
/public/hot
/public/build
/storage/pail

# NPM/Yarn logs
npm-debug.log
yarn-error.log

# Laravel IDE/tools
/.idea
/.vscode
/.nova
/.zed
/.fleet

# Laravel Telescope & Horizon (if used)
storage/telescope
storage/horizon

# Laravel mix & vite
/public/mix-manifest.json
/public/js
/public/css

# Misc
*.log
*.cache
